.manage_presets .switch {
  &:not(.p-inputswitch-checked) .p-inputswitch-slider {
    background: #5a5a83;
  }

  &:not(.p-disabled):hover .p-inputswitch-slider {
    background: #5a5a83;
  }
}

.preset-list {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  margin-top: 1rem;

  &__item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    background: #28253e;

    img {
      width: 64px;
      height: 64px;
      margin-right: 1rem;
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    grid-gap: 3px;

    & > span:first-child {
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.1px;
      margin-bottom: 6px;
    }

    & > span:last-child {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #d4c4ed;
      font-size: 0.8125rem;
      font-weight: 500;

      i {
        margin-left: 8px;
      }
    }
  }
}

.pools-list {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;

  .pool-item {
    display: flex;
    border-radius: 20px;
    height: 100%;
    background: #31314f;
    padding: 12px 16px;
    align-items: center;
    position: relative;
    flex-direction: column;
    &:hover {
      .pool-item__delete {
        opacity: 1;
      }
    }

    &__details {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    &__row {
      p {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.44px;
        color: #e5e4fa;
        opacity: 0.6;
      }
    }
    &__delete {
      opacity: 0;
      position: absolute;
      padding: 6px;
      font-size: 12px;
      width: auto;
      height: auto;
      top: -8px;
      right: -8px;
      background: #44445b;
      transition: all 0.25s;
    }

    &__tokens {
      display: flex;
      flex-direction: column;
      grid-gap: 5px;
    }

    &__token {
      display: flex;
      align-items: center;
      width: 100%;
      grid-gap: 12px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    &__token-content {
      display: flex;
      align-items: baseline;
      grid-gap: 10px;

      span {
        &:first-child {
          color: var(--text-color);
          font-weight: 500;
        }

        &:last-child {
          font-size: 13px;
          color: var(--text-color-secondary);
        }
      }
    }
  }
}

.switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background: #272742;
  border-radius: 51px;
  width: 100%;

  &__switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 8px;
    width: 100%;
    cursor: pointer;
    transition: all 0.25s linear;

    p {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 120%;
      color: #ffffff;
      margin-block: 0rem;
    }

    &.isSelected {
      background: #4d4d70;
      border-radius: 51px;
    }
  }
}

.address-import {
  background: var(--surface-card);
  width: 100%;
  display: flex;
  padding: 16px 0;

  &__input {
    min-width: 100%;
    display: flex;
    border-radius: 16px;
    background: transparent;
    border: 1px solid #36354b;
  }
}

.coins-info__wrap {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 16px;

  justify-content: center;
  display: flex;
  align-items: center;
  color: #d4c4ed;
  z-index: 10;

  p {
    font-style: normal;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.44px;
  }
}