.p-dialog-mask.p-component-overlay {
  .search {
    background: var(--ls-surface-card);
    left: 0;
    padding: 10px 0px 20px 0px;
    margin: 0px -4px;
    z-index: 10;

    &__input {
      width: 100%;
      border-radius: 16px;
      background: none;
      border: 1px solid #36354b;
    }
  }

  .content-container {
    &__loader {
      margin-top: 50px;
      position: absolute;
      width: 100%;
      left: 0;
      display: flex;
    }
  }

  .select-tokens {
    .p-dialog-content {
      margin-bottom: 1rem !important;
    }

    .select-tokens__footer {
      display: flex !important;
      justify-content: center !important;
    }
  }

  .token-list {
    list-style: none;
    padding: 0;
    margin: 0 -12px;
  }

  .list-header {
    color: var(--ls-text-color-secondary);
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 8px 0;
  }

  .token-list-item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 16px;
    grid-gap: 12px;
    align-items: center;
    cursor: pointer;

    &__stable-indicator {
      align-items: flex-start;
      margin-left: 0.5rem;
      margin-top: 0.2rem;

      & img {
        height: 10px;
      }

      & p {
        margin-block: 0rem !important;
        font-size: 11px;
        margin-left: 0.2rem;
        color: #e5e4fa;
        opacity: 0.6;
      }
    }

    &.is-selected {
      cursor: auto;
      opacity: 0.6;
    }

    &:hover:not(.is-selected) {
      background: #1c1c33;
    }

    &__icon {
      width: 32px;
      height: 32px;

      img,
      .img {
        width: 100%;
        height: 100%;
      }
    }

    &__symbol {
      color: var(--ls-text-color);
      font-weight: 500;
    }

    &__title {
      font-size: 13px;
      color: transparentize(#e5e4fa, 0.4);
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 38px;
      justify-content: space-between;
    }

    &__append {
      font-size: 13px;
      display: flex;
      margin-left: auto;
      align-items: center;
      color: transparentize(#e5e4fa, 0.4);
    }
  }

  .pool__address {
    font-family: var(--ls-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-block: 0.2rem;
    color: #9292a6;
    opacity: 0.6;
  }

  .preset-list__item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 12px;
    background: #28253e;

    img {
      width: 64px;
      height: 64px;
      margin-right: 1rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      grid-gap: 3px;

      & > span:first-child {
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.1px;
        margin-bottom: 6px;
      }

      & > span:last-child {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #d4c4ed;
        font-size: 0.8125rem;
        font-weight: 500;

        i {
          margin-left: 8px;
        }
      }
    }
  }

  #preset_menu.p-menu {
    border-radius: 8px;
    padding: 8px 0;
  }

  #preset_menu.p-menu .p-menuitem-link:not(.p-disabled):hover {
    background: #4a495e;
  }
}
