.swap__container {
  .label {
    display: flex;
    align-items: center;
  }

  .label-text {
    font-family: var(--ls-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #9594aa;
  }

  .curve-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 8px;

    &__curve {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      width: 50%;
      cursor: pointer;
      transition: all 0.5s linear;

      &.busy {
        cursor: default;
        opacity: 0.5;
      }

      p {
        @extend .label-text;
        margin-block: 0rem;
        margin-left: 5px;
        margin-right: 6px;
        color: #ffffff;
      }

      i {
        opacity: 0.5;
      }
    }
  }
}
