@import 'primevue/resources/themes/lara-dark-purple/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';

liquidswap-widget {
  font-size: 15px;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'ss01' on, 'ss02' on, 'cv01' on, 'cv03' on;
  position: relative;
  font-family: var(--font-family),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol'
  ;
  background: linear-gradient(
    52.43deg,
    #14072e 22.22%,
    #0e0824 44.79%,
    #0a081e 59.58%
  );
  color: var(--text-color);
  padding: 0;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;

  &.layout-scroll-block {
    overflow: hidden;
  }
}

.swap__container {
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  color: var(--text-color);
}

.onboarding-icon {
  display: inline-block;
  width: 1rem;
  background: url('../assets/union.svg') 0 0/contain no-repeat;
  &::before {
  content: "";
    display: block;
    padding-top: 100%;
  }
}

:root {
  //--text-color:#495057;
  --text-color: #e5e4fa;
  --text-color-secondary: #6c757d; //9292A8
  --primary-color: #6e42ca;
  --primary-color-text: #ffffff;
  --accent-success: #039581;
  --accent-error: #c62828;
  --font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --surface-0: #ffffff;
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --surface-ground: #212429;
  --surface-section: #ffffff;
  --surface-card: #16162d;
  --surface-overlay: #16162d;
  --surface-border: #dee2e6;
  --content-padding: 1rem;
  --inline-spacing: 0.5rem;
  --border-radius: 14px;
  --blue-50: #f4fafe;
  --blue-100: #cae6fc;
  --blue-200: #a0d2fa;
  --blue-300: #75bef8;
  --blue-400: #4baaf5;
  --blue-500: #2196f3;
  --blue-600: #1c80cf;
  --blue-700: #1769aa;
  --blue-800: #125386;
  --blue-900: #0d3c61;
  --green-50: #f6fbf6;
  --green-100: #d4ecd5;
  --green-200: #b2ddb4;
  --green-300: #90cd93;
  --green-400: #6ebe71;
  --green-500: #4caf50;
  --green-600: #419544;
  --green-700: #357b38;
  --green-800: #2a602c;
  --green-900: #1e4620;
  --yellow-50: #fffcf5;
  --yellow-100: #fef0cd;
  --yellow-200: #fde4a5;
  --yellow-300: #fdd87d;
  --yellow-400: #fccc55;
  --yellow-500: #fbc02d;
  --yellow-600: #d5a326;
  --yellow-700: #b08620;
  --yellow-800: #8a6a19;
  --yellow-900: #644d12;
  --cyan-50: #f2fcfd;
  --cyan-100: #c2eff5;
  --cyan-200: #91e2ed;
  --cyan-300: #61d5e4;
  --cyan-400: #30c9dc;
  --cyan-500: #00bcd4;
  --cyan-600: #00a0b4;
  --cyan-700: #008494;
  --cyan-800: #006775;
  --cyan-900: #004b55;
  --pink-50: #fef4f7;
  --pink-100: #fac9da;
  --pink-200: #f69ebc;
  --pink-300: #f1749e;
  --pink-400: #ed4981;
  --pink-500: #e91e63;
  --pink-600: #c61a54;
  --pink-700: #a31545;
  --pink-800: #801136;
  --pink-900: #5d0c28;
  --indigo-50: #f5f6fb;
  --indigo-100: #d1d5ed;
  --indigo-200: #acb4df;
  --indigo-300: #8893d1;
  --indigo-400: #6372c3;
  --indigo-500: #3f51b5;
  --indigo-600: #36459a;
  --indigo-700: #2c397f;
  --indigo-800: #232d64;
  --indigo-900: #192048;
  --teal-50: #f2faf9;
  --teal-100: #c2e6e2;
  --teal-200: #91d2cc;
  --teal-300: #61beb5;
  --teal-400: #30aa9f;
  --teal-500: #009688;
  --teal-600: #008074;
  --teal-700: #00695f;
  --teal-800: #00534b;
  --teal-900: #003c36;
  --orange-50: #fff8f2;
  --orange-100: #fde0c2;
  --orange-200: #fbc791;
  --orange-300: #f9ae61;
  --orange-400: #f79530;
  --orange-500: #f57c00;
  --orange-600: #d06900;
  --orange-700: #ac5700;
  --orange-800: #874400;
  --orange-900: #623200;
  --bluegray-50: #f7f9f9;
  --bluegray-100: #d9e0e3;
  --bluegray-200: #bbc7cd;
  --bluegray-300: #9caeb7;
  --bluegray-400: #7e96a1;
  --bluegray-500: #607d8b;
  --bluegray-600: #526a76;
  --bluegray-700: #435861;
  --bluegray-800: #35454c;
  --bluegray-900: #263238;
  --purple-50: #faf4fb;
  --purple-100: #e7cbec;
  --purple-200: #d4a2dd;
  --purple-300: #c279ce;
  --purple-400: #af50bf;
  --purple-500: #9c27b0;
  --purple-600: #852196;
  --purple-700: #6d1b7b;
  --purple-800: #561561;
  --purple-900: #3e1046;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --red-50: #fff5f5;
  --red-100: #ffd1ce;
  --red-200: #ffada7;
  --red-300: #ff8980;
  --red-400: #ff6459;
  --red-500: #ff4032;
  --red-600: #d9362b;
  --red-700: #b32d23;
  --red-800: #8c231c;
  --red-900: #661a14;
  --primary-50: #f4fafe;
  --primary-100: #cae6fc;
  --primary-200: #a0d2fa;
  --primary-300: #75bef8;
  --primary-400: #4baaf5;
  --primary-500: #2196f3;
  --primary-600: #1c80cf;
  --primary-700: #1769aa;
  --primary-800: #125386;
  --primary-900: #0d3c61;
}

#nprogress {
  .bar {
    background: #6E42CA;
  }

  .peg {
    box-shadow: 0 0 10px #6E42CA, 0 0 5px #6E42CA;
  }

}

.p-component {
  font-family: var(--font-family);
}

.p-overlaypanel {
  background: rgb(25, 27, 31);
  border: 1px solid rgb(33, 36, 41);
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px 0px;

  &::before,
  &::after {
    display: none;
  }
}

.p-dialog {
  border: none;
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;

  .p-dialog-header {
    background: var(--surface-card);
    color: var(--text-color);
    border: none;
    border-top-left-radius: 24px !important;
    border-top-right-radius: 24px !important;
  }

  .p-dialog-content {
    background: var(--surface-card);
    border: none;
    border-bottom-left-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
  }
}

.account {
  .p-dialog-header {
    padding: 1rem;
    padding-top: 24px;
  }
  .p-dialog-content {
    padding: 1rem;
  }
}

.p-menu {
  margin-top: 10px;
  &.p-menu-overlay {
    overflow: hidden !important;
    border: 0;
    border-radius: 24px;
    min-width: 230px !important;
    background: var(--surface-card);
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
      rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  }
}

.p-inputtext {
  background: #24243a;
  padding: 0.75rem 0.75rem;
  border: 1px solid var(--surface-card);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;

  &.p-invalid.p-component {
    border-color: #ca4242 !important;
  }
}
.p-inputtext:enabled:hover {
  border-color: #c4b5fd;
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(196, 181, 253, 0.5);
  border-color: #c4b5fd;
}
.p-inputtext.p-invalid.p-component {
  border-color: #fca5a5;
}
.p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  padding: 0.65625rem 0.65625rem;
}
.p-inputtext.p-inputtext-lg {
  font-size: 1.25rem;
  padding: 0.9375rem 0.9375rem;
}

.p-toast-detail {
  white-space: break-spaces;
  word-break: break-word;
}

.p-inline-message {
  border-radius: 16px;
  font-weight: 400;
  &.p-inline-message-error {
    background: rgba(#ca4242, 0.2);
    border-color: #ca4242;
  }

  &.p-inline-message-warn {
    background: rgba(#F6851B, 0.2);
    border-color: #F6851B;
  }

  &.p-inline-message-info {
    background-color: rgba(110, 66, 202, 0.2);
    border-color: #6e42ca;

    .p-inline-message-icon {
      color: #8557e7;
    }
  }

  .p-inline-message-text {
    font-size: 0.9375rem;
    color: var(--text-color);
  }
}

.p-message {
  &.p-message-warn {
    background: #2d2116;
    border: solid #cc8925;
    border-width: 0 0 0 6px;
    color: #cc8925;
  }

  &.p-message-info {
    background: #262647;
    border: solid var(--primary-color);
    border-width: 0 0 0 6px;
    color: var(--text-color);

    .p-message-icon {
      color: var(--text-color);
    }
  }
}

.p-button {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 16px;

  .p-button-label {
    font-weight: 500;
  }
  &.p-button-secondary {
    background: #1c1c33;
    border-color: #1c1c33;
    color: var(--gray-300);
    &:enabled:hover {
      background: lighten(#1c1c33, 5%);
      border-color: #1c1c33;
      color: var(--gray-50);
    }
    &:enabled:focus {
      box-shadow: none;
    }
  }
}
.p-button:enabled:hover {
  background: #b3a0fc;
  color: #1c2127;
  border-color: #b3a0fc;
}
.p-button:enabled:active {
  background: #a28bfc;
  color: #1c2127;
  border-color: #a28bfc;
}

.p-dialog-mask {
  z-index: 10 !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.p-overlaypanel {
  border: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  z-index: 3;
  padding: 6px 16px;

  .p-overlaypanel-content {
    border-radius: 24px;
    background: #1e1e30;
    box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
      rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  }
}
