.footer__container {
  min-width: 932px;
  margin: auto auto 0;

  @media screen and (max-width: 992px) {
    width: 100%;
    min-width: 100%;
    padding: 0 1rem;
  }

  @media screen and (max-width: 860px) {
    margin-top: 5rem;
  }

  .footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &-app {
      font-size: 0.9375rem;
      margin-bottom: 2rem;

    }

    &-social {
      display: none;
      max-width: 122px;
      margin: 1.625rem auto;
      font-size: 1.25rem;
      @media screen and (max-width: 860px) {
        display: flex;
      }
    }

    a {
      font-weight: 500;
      color: rgba(#fbfaff, 0.6);

      &:hover,
      &:focus,
      &:focus-visible {
        color: var(--primary-color-text);
      }
    }

    @media screen and (max-width: 998px) {
      &-app {
        font-size: 0.75rem;
      }
    }

    @media screen and (max-width: 860px) {
      &-app {
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.9375rem;

        li {
          margin-bottom: 1.5rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      &-social {
        margin: 2.5rem 0;
        font-size: 1rem;
      }
    }
  }

  .footer__copyright {
    margin: 0 auto 1.25rem;
    width: max-content;
    font-size: 0.875rem;
    color: rgba(#fbfaff, 0.5);

    @media screen and (max-width: 860px) {
      margin: 0 0 1rem;
      font-size: 0.6875rem;
      width: fit-content;
    }

    a {
      color: rgba(#fbfaff, 0.5);

      &:visited {
        color: rgba(#fbfaff, 0.5);
      }
      &:hover {
        color: #ffffff;
      }
    }
  }
}