.notifications-dialog {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 32px;
  background: #28253e;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  row-gap: 1.5rem;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);

  p {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
}

@keyframes in-out {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}