.swap-tokens {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__token {
    display: flex;
    padding: 16px;
    background: #24243a;
    border-radius: 16px;
    align-items: center;

    &:first-child {
      margin-bottom: 8px;
    }
  }

  &__symbol {
    display: flex;
    align-items: center;

    font-size: 15px;
    letter-spacing: 0.05em;
    color: var(--text-color);
    font-weight: 500;

    img,
    .img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  &__value {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    padding-right: 16px;

    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__toggle {
    position: relative;
    div {
      position: absolute;
      padding: 4px;
      border-radius: 12px;
      height: 32px;
      width: 32px;
      margin-top: -18px;
      margin-bottom: -18px;
      left: calc(50% - 16px);
      background-color: #24243a;
      border: 6px solid var(--surface-card);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 12px;
        color: var(--text-color);
        font-weight: 800;
      }
    }
  }

  &__button {
    width: 100%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    height: 44px;
    background: linear-gradient(90deg, #6E42CA 0%, #8D29C1 100%);

    &:enabled:hover {
      background: linear-gradient(90deg, #8d6ad5, #6f42ca);
      color: white;
    }

    span {
      position: absolute;
      margin: auto;
      text-align: center;
      z-index: 2;
      opacity: 1;
    }

    .progress {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0%;
      background: #946bec;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &.rate-changed {
      cursor: none;
      pointer-events: none;
    }

    &.rate-changed .progress {
      opacity: 1;
      animation: progress 2s linear 0s;
    }

    @keyframes progress {
      0% {
        width: 0%;
      }
      5% {
        width: 0%;
      }
      10% {
        width: 15%;
      }
      30% {
        width: 40%;
      }
      50% {
        width: 55%;
      }
      80% {
        width: 100%;
      }
      98% {
        width: 100%;
        opacity: 1;
      }
      100% {
        width: 100%;
        opacity: 0;
      }
    }
  }
}