.swap__container, .p-dialog-mask.p-component-overlay {
  img.token-alert {
    margin-left: 4px;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
    margin-bottom: -2px;
  }
}
