.reserves-container {
  max-width: 480px;
  min-height: 50px;
  border-radius: 24px;
  color: white;
  background: var(--surface-card);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
  rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  margin-bottom: 20px;

  .insufficient-reserves {
    color: #e74c3c;
  }
}
.reserves-heading {
  font-size: 17px;
  font-weight: 600;
}
.reserves-header {
  padding: 20px 16px 4px 16px;
}
.reserves-content {
  padding: 5px 16px 20px 16px;
}

.reserves-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.swap-tokens {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__token {
    display: flex;
    padding: 16px;
    background: #24243a;
    border-radius: 16px;
    align-items: center;

    &:first-child {
      margin-bottom: 8px;
    }
  }

  &__symbol {
    display: flex;
    align-items: center;

    font-size: 15px;
    letter-spacing: 0.05em;
    color: var(--text-color);
    font-weight: 500;

    img,
    .img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}